/* Image Resizing */

.img-fluid {
  width: 100%;
  height: auto;
}
.resized {
  max-width: 120px;
}
.resized-md {
  max-width: 80px;
}

.resized-sm {
  max-width: 20px;
}

.resized-lg {
  max-width: 550px;
}

.resized-x-lg {
  max-width: 600px;
}

.resized-x-md {
  max-width: 400px;
}
